/* Estilos gerais para o corpo da página */
body {
    margin: 20px auto; /* Margens e centralização automática */
    background-color: #0c1014; /* Cor de fundo */
    color: white; /* Cor do texto */
    width: 90%; /* Largura máxima da página */
    max-width: 960px; /* Largura máxima limitada */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Fonte padrão */
}

/* Estilos para a seção de herói (cabeçalho) */
.hero {
    display: flex; /* Utiliza o modelo de layout flexbox */
    justify-content: space-between; /* Distribui espaço entre os itens */
}

/* Estilos para o logotipo na seção de herói */
.hero-logo {
    font-size: 36px; /* Tamanho da fonte */
    letter-spacing: 2px; /* Espaçamento entre letras */
    text-transform: uppercase; /* Transformação para maiúsculas */
}

/* Estilos para o menu na seção de herói */
.hero-menu {
    font-size: 18px; /* Tamanho da fonte do menu */
    display: flex; /* Utiliza o modelo de layout flexbox */
    list-style-type: none; /* Remove marcadores de lista */
    gap: 16px; /* Espaçamento entre itens do menu */
}

/* Estilos para os links no menu da seção de herói */
.hero-menu a {
    color: #fff; /* Cor do texto do link */
    padding: 14px; /* Preenchimento interno do link */
    text-decoration: none; /* Remove decoração de link */
    border-radius: 5px; /* Borda arredondada */
}

/* Estilos para a interação de hover nos links do menu da seção de herói */
.hero-menu a:hover {
    text-decoration: underline; /* Adiciona sublinhado no hover */
}

/* Estilos para o link ativo no menu da seção de herói */
a.hero-menu__active {
    color: #0c1014; /* Cor do texto */
    background-color: #cbe300; /* Cor de fundo */
    pointer-events: none; /* Desativa interações de ponteiro */
}

/* Estilos para o título principal */
.titulo-principal {
    font-size: 62px; /* Tamanho da fonte */
    text-transform: uppercase; /* Transformação para maiúsculas */
    text-align: center; /* Centraliza o texto */
    margin: 46px 0; /* Margens superior e inferior */
}

/* Estilos para a seção principal de conteúdo */
.content-main {
    display: flex; /* Utiliza o modelo de layout flexbox */
    gap: 16px; /* Espaçamento entre os itens */
}

/* Estilos para cada plano na seção principal de conteúdo */
.content-main__plan {
    display: flex; /* Utiliza o modelo de layout flexbox */
    flex-direction: column; /* Organiza os itens em coluna */
    flex: 1; /* Cresce para preencher o espaço disponível */
    background-color: #1f262c; /* Cor de fundo do plano */
    padding: 30px; /* Preenchimento interno */
    border-radius: 6px; /* Borda arredondada */
    box-shadow: 0 5px 15px -6px black; /* Sombra */
}

/* Estilos para o título de cada plano */
.content-main__title {
    text-transform: uppercase; /* Transformação para maiúsculas */
    border-bottom: 1px solid #cbe300; /* Linha inferior */
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin-top: 0; /* Margem superior */
    padding-bottom: 10px; /* Preenchimento inferior */
}

/* Estilos para o preço de cada plano */
.content-main__price {
    font-size: 32px; /* Tamanho da fonte */
}

/* Estilos para as características de cada plano */
.content-main__feature {
    margin: 0 0 35px; /* Margens */
    color: #b5b5b5; /* Cor do texto das características */
    padding-left: 16px; /* Preenchimento à esquerda */
    line-height: 1.8; /* Altura da linha */
    flex: 1; /* Cresce para preencher o espaço disponível */
}

/* Estilos para o marcador nas características de cada plano */
.content-main__feature li::marker {
    color: #cbe300; /* Cor do marcador */
}

/* Estilos para o botão de chamada para ação (CTA) de cada plano */
.content-main__cta {
    background-color: #cbe300; /* Cor de fundo do botão */
    border-radius: 6px; /* Borda arredondada */
    text-align: center; /* Alinhamento do texto */
    padding: 16px 10px; /* Preenchimento interno */
    text-transform: uppercase; /* Transformação para maiúsculas */
    text-decoration: none; /* Remove decoração de texto */
    color: #0c1014; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
}

/* Estilos para a interação de hover no botão de CTA */
.content-main__cta:hover {
    outline: 2px solid #cbe300; /* Adiciona contorno no hover */
    background-color: transparent; /* Torna o fundo transparente */
    color: white; /* Cor do texto no hover */
}
